Functional requirements:

Functions:
 user login;
 user exit;
 open chat;
 close chat;
 sending a message to user;
 deleting message;
 edit message;
 view contact information;
 edit contact information;

System states;

Technologies:
 HTML5/CSS3/JS;
 SCSS;
 React;
 Bootststrap;
	 
Architectory specifics:
sync messaging.
	
	